$enable-flex: true;
@import "bootstrap";

.purple {
  color: #5c26b4;
}
h1 {
  text-align: center;
  margin: 7% 0 5%;
}
nav.sticky {
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}
a.navbar-brand {
  color: white;
}
nav.sticky.navbar-custom.navbar-fixed-top#nav {
  background-color: #5c26b4;
  border-color: #4e2099;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7438d5), to(#5c26b4));
  background-image: -webkit-linear-gradient(top, #7438d5, 0%, #5c26b4, 100%);
  background-image: -moz-linear-gradient(top, #7438d5 0%, #5c26b4 100%);
  background-image: linear-gradient(to bottom, #7438d5 0%, #5c26b4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7438d5', endColorstr='#ff5c26b4', GradientType=0);
}
@media (min-width: 768px) {
  nav.navbar-custom.navbar-fixed-top {
    border-color: transparent;
    background-color: #5c26b4;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7438d5), to(#5c26b4));
    background-image: linear-gradient(to bottom, #7438d5 0%, #5c26b4 100%);
    padding: 0.5em 0em;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  h1 {
    text-align: center;
    margin: 5% 0;
  }
  div.table-overflow {
    margin: 5% auto;
    max-height: 50vh;
    overflow-y: auto;
  }
  table.table.table-striped {
    width: 75%;
    margin: 0% auto;
    tr {
      width: 100%;
      td {
        padding: 0.75em;
      }
    }
  }
  div.alert-danger.text-center,
  div.alert-info.text-center {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid grey;
  }
}
div.alert-danger.text-center,
div.alert-info.text-center {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid grey;
}
div.table-overflow {
  margin: 5% auto;
  max-height: 50vh;
  overflow-y: auto;
}
.flex-col {
  flex-direction: column;
}
.field {
  width: 50%;
  margin: 0 auto;
}
.actions {
  margin: 0 auto;
}

table.table.table-striped {
  width: 80%;
  margin: 0% auto;

  tr {
    width: 100%;
    td {
      padding: 0.75em;
    }
  }
}
