<!DOCTYPE html>
<html>
  <head>
    <title>TinyURL</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sticky">
    </div>
    <nav id="nav" class="navbar navbar-default navbar-custom navbar-fixed-top sticky">
      <div class="navbar-header page-scroll">
        <a class="navbar-brand page-scroll" href="#page-top">Apoco</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
